<!-- <div class="form-container">
    <h3>{{ isAddMode ? 'Ajouter Compte' : 'Modifier Compte' }}</h3>
  
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div>
        <label>Email:</label>
        <input type="email" formControlName="Email" />
      </div>
  
      <div>
        <label>Mot de passe:</label>
        <input type="password" formControlName="Password" />
      </div>
  
      <div>
        <label>ID Administrateur:</label>
        <input type="number" formControlName="administrator_id" />
      </div>
  
      <div>
        <label>ID Client:</label>
        <input type="number" formControlName="client_id" />
      </div>
  
      <button type="submit">{{ isAddMode ? 'Ajouter' : 'Modifier' }}</button>
      <button type="button" (click)="cancel()">Annuler</button>
    </form>
  </div> -->