<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Promotion CRUD</h3>
          <div class="card-tools">
            <button mat-raised-button color="primary" (click)="AddPromotion()">Add Promotion</button>
          </div>
        </div>
        <div class="card-body">
          <table id="promotionTable" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Percentage</th>
                <th>Maisondhote ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let promotion of promotions">
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.dateDebut }}</td>
                <td>{{ promotion.dateFin }}</td>
                <td>{{ promotion.pourcentage }}</td>
                <td>{{ promotion.Maisondhote_id }}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="EditPromotion(promotion)">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="deletePromotion(promotion.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->