<!-- <mat-dialog-content>
    
    <form [formGroup]="form" (ngSubmit)="onSaveClick()">
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date de début</mat-label>
          <input matInput type="date" formControlName="dateDebut" required>
          <mat-error *ngIf="form.get('dateDebut')?.hasError('required')">La date de début est requise.</mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date de fin</mat-label>
          <input matInput type="date" formControlName="dateFin" required>
          <mat-error *ngIf="form.get('dateFin')?.hasError('required')">La date de fin est requise.</mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Pourcentage</mat-label>
          <input matInput type="number" formControlName="pourcentage" required>
          <mat-error *ngIf="form.get('pourcentage')?.hasError('required')">Le pourcentage est requis.</mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Maison d'hôte ID</mat-label>
          <input matInput type="number" formControlName="Maisondhote_id">
          <mat-error *ngIf="form.get('Maisondhote_id')?.hasError('required')">
            L'ID de la Maison d'hôte est requis.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button type="submit" [disabled]="form.invalid" (click)="onSaveClick()">Enregistrer</button>
  </mat-dialog-actions> -->