<!-- <div class="container mt-4">
    <div class="row mb-4">
      <div class="col-md-3 mb-3">
        <div class="card bg-light shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Maisons d'Hôtes</h5>
            <p class="card-text display-4">{{ totalMaisondhotes }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-light shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Réservations</h5>
            <p class="card-text display-4">{{ totalReservations }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-light shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Utilisateurs</h5>
            <p class="card-text display-4">{{ totalUsers }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-light shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Disponibilités</h5>
            <p class="card-text display-4">{{ totalDisponibilites }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Tendances des Réservations par Mois</h5>
            <div class="chart-wrapper">
              <canvas baseChart
                      [type]="'line'"
                      [datasets]="chartDataReservations"
                      [labels]="chartLabelsReservations"
                      [options]="chartOptions">
              </canvas>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Répartition des Maisons d'Hôtes par Ville</h5>
            <div class="chart-wrapper">
              <canvas baseChart
                      [type]="'pie'"
                      [datasets]="chartDataHousesByCity"
                      [labels]="chartLabelsHousesByCity"
                      [options]="chartOptions">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Comparaison Binaire (Exemple)</h5>
            <div class="chart-wrapper">
              <canvas baseChart
                      [type]="'doughnut'"
                      [datasets]="chartDataComparison"
                      [labels]="chartLabelsComparison"
                      [options]="chartOptions">
              </canvas>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Nombre Moyen de Nuits Réservées par Ville</h5>
            <div class="chart-wrapper">
              <canvas baseChart
                      [type]="'bar'"
                      [datasets]="chartDataAvgNightsByCity"
                      [labels]="chartLabelsAvgNightsByCity"
                      [options]="chartOptions">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Autre Graphique Linéaire (Optionnel)</h5>
            <div class="chart-wrapper">
              <canvas baseChart
                      [type]="'line'"
                      [datasets]="chartDataLineOptional"
                      [labels]="chartLabelsLineOptional"
                      [options]="chartOptions">
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        </div>
    </div>
  </div> -->